CLIENT_GATEWAY_PORT=3010
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1PcL9GDq40GKRuUXERbwENVo
STRIPE_ENDPOINT_SECRET=